In [2]:
mydict = dict()
print(mydict)
print(type(mydict))
md = {}
print(md)
print(type(md))

{}
<class 'dict'>
{}
<class 'dict'>

# Accesing element from dictionary

In [9]:
entosp ={"one":"uno","two":"dos","three":"tres"}
print(entosp)
s = entosp["one"]
print(s)
t = entosp["three"]                # Time complexity is O(1)
print(t)
u = entosp["four"]
print(u)

{'one': 'uno', 'two': 'dos', 'three': 'tres'}
uno
tres

KeyError: 'four'

# Insert/Update element in dictionary

In [6]:
dr = {"name":"nayan","age":26,"height":5.6}
type(dr)
print(dr)
#hash("name")
dr['age'] = 27                # Time complexity and space complexity is O(1)
print(dr)

{'name': 'nayan', 'age': 26, 'height': 5.6}
{'name': 'nayan', 'age': 27, 'height': 5.6}

In [8]:
dr = {"name":"nayan","age":26,"height":5.6}
dr['address'] = 'Dhaka' #Time complexity is O(1) and space complexity is amortized O(1)
print(dr)

{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}

# Traverse through a dictionary

In [11]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}
def traverse_dct(dn):
    for k in dn:
        print(k,':',dn[k])     # T.C is O(n) and S.C is O(1)
t = traverse_dct(dr) 
t

name : nayan
age : 26
height : 5.6
address : Dhaka

In [12]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}
def traverse_dct(dn):
    for k in dn:
        print(k)
t = traverse_dct(dr) 
t

name
age
height
address

In [20]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}
def traverse_dct(dn):
    for k,n in dn:
        print(k,n)
t = traverse_dct(dr) 
t

ValueError: too many values to unpack (expected 2)

In [14]:
s ='ashraf'
for i in s:
    print(i)

a
s
h
r
a
f

In [16]:
s ='ashraf'
for i in s:
    print(s[i])

NameError: name 'index' is not defined

In [19]:
s = ['a','s','h','r','a','f']
for i in s:
    print(i)

a
s
h
r
a
f

# Search element in dictionary

In [22]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
def search_dct(dn,value):
    for k in dn:
        if dn[k] == value:                     # T.C is O(n) and S.C is O(1)
            return k,value
    return "The value doesn't exist"        
s =  search_dct(dr,9) 
s

"The value doesn't exist"

# Delete/Remove element from dictionary

In [23]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(dr.pop('name'))
print(dr)

nayan
{'age': 26, 'height': 5.6, 'address': 'Dhaka'}

In [23]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(dr.popitem())
print(dr)
print(dr.clear())
print(dr)

('address', 'Dhaka')
{'name': 'nayan', 'age': 26, 'height': 5.6}
None
{}

In [3]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
del dr['height']              # Time complexity usually is O(1)
print(dr)                     # Time complexity amortizely is O(n)
del dr                        # Space complexity is O(1)
print(dr)

{'name': 'nayan', 'age': 26, 'address': 'Dhaka'}

NameError: name 'dr' is not defined

# Dictionary Methods

## Shallow copy

In [3]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(id(dr))
dn = dr
print(id(dn))
print(dn)

2190386587136
2190386587136
{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}

In [4]:
# Both changes
dn['age'] = 27
print(dn)
print(dr)

{'name': 'nayan', 'age': 27, 'height': 5.6, 'address': 'Dhaka'}
{'name': 'nayan', 'age': 27, 'height': 5.6, 'address': 'Dhaka'}

## Deep copy

In [8]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(id(dr))
dn = dr.copy()
print(id(dn))
print(dn)

2190389317312
2190386658048
{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}

In [9]:
dn['age'] = 27
print(dn)
print(dr)

{'name': 'nayan', 'age': 27, 'height': 5.6, 'address': 'Dhaka'}
{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}

## Other Methods

In [6]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(id(dr))
dn = dr.fromkeys(['education','cgpa'],26)
print(id(dn))
print(dn)
print(dr)

1604144513152
1602024168384
{'education': 26, 'cgpa': 26}
{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}

In [19]:
dn = {}.fromkeys(['age','education'],26)
dn

{'age': 26, 'education': 26}

In [7]:
dn = {}.fromkeys(['age','Education'],(26,'cs'))
dn

{'age': (26, 'cs'), 'Education': (26, 'cs')}

In [2]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
dr.get('height',26)

5.6

In [7]:
print(dr.get(5.6,'city'))
dr

city

{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}

In [42]:
dr.items()

dict_items([('name', 'nayan'), ('age', 26), ('height', 5.6), ('address', 'Dhaka')])

In [3]:
dr.keys()

dict_keys(['name', 'age', 'height', 'address'])

In [5]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(dr.popitem())
dr

('address', 'Dhaka')

{'name': 'nayan', 'age': 26, 'height': 5.6}

In [8]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(id(dr))
dr["Phone"] = '01772693406'
print(id(dr))
print(dr)

2938555015040
2938555015040
{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka', 'Phone': '01772693406'}

In [16]:
print(dr)
print(dr.setdefault('flat','6D'))
dr

{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka', 'Phone': '01772693406', 'flat': '6D'}
6D

{'name': 'nayan',
 'age': 26,
 'height': 5.6,
 'address': 'Dhaka',
 'Phone': '01772693406',
 'flat': '6D'}

In [18]:
print(dr)
print(dr.setdefault('2','6D'))
dr

{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka', 'Phone': '01772693406', 'flat': '6D', '2': '6D'}
6D

{'name': 'nayan',
 'age': 26,
 'height': 5.6,
 'address': 'Dhaka',
 'Phone': '01772693406',
 'flat': '6D',
 '2': '6D'}

In [21]:
print(dr)
print(dr.setdefault('height','6D'))
dr

{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka', 'Phone': '01772693406', 'flat': '6D', '2': '6D'}
5.6

{'name': 'nayan',
 'age': 26,
 'height': 5.6,
 'address': 'Dhaka',
 'Phone': '01772693406',
 'flat': '6D',
 '2': '6D'}

In [22]:
del dr['2']
dr

{'name': 'nayan',
 'age': 26,
 'height': 5.6,
 'address': 'Dhaka',
 'Phone': '01772693406',
 'flat': '6D'}

In [26]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(dr.pop('phone','789'))
dr

789

{'name': 'nayan', 'age': 26, 'height': 5.6, 'address': 'Dhaka'}

In [27]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(dr.pop('address','789'))
dr

Dhaka

{'name': 'nayan', 'age': 26, 'height': 5.6}

In [28]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(dr.values())
print(dr.keys())

dict_values(['nayan', 26, 5.6, 'Dhaka'])
dict_keys(['name', 'age', 'height', 'address'])

In [29]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(dr.update('name','ashraf'))
dr

TypeError: update expected at most 1 argument, got 2

# Dictionary Operations

In [2]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print('name' in dr)
print('nayan' in dr)         # Time complexity is O(1)

True
False

In [4]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print('nayan' in dr.values())
print('Dhaka' in dr.values())   # Time complexity is O(1)

True
True

In [5]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
for k in dr:
    print(k)

name
age
height
address

In [8]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
for k in dr:               # Time complexity is O(n)
    print(k,':',dr[k])

name : nayan
age : 26
height : 5.6
address : Dhaka

In [25]:
dr = {'name': False, 'age': False, 'height': False, 'address': True }
print(all(dr))
print(any(dr))

True
True

In [27]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(len(dr.values()))

4

In [28]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(len(dr))

4

In [29]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(sorted(dr))

['address', 'age', 'height', 'name']

In [30]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(sorted(dr, reverse = True))

['name', 'height', 'age', 'address']

In [38]:
dr = {'name': 'nayan', 'age': 26, 'height': 5.6, 'address':'Dhaka'}
print(sorted(dr, key = len))

['age', 'name', 'height', 'address']

In [47]:
# No duplicate keys in dictionary
dr = {'name': 'nayan', 'height': 5.7, 'height': 5.11, 'address':'Dhaka'}
dr

{'name': 'nayan', 'height': 5.11, 'address': 'Dhaka'}