# Accessing/Traversing a list

In [1]:
nl = [1,5,8.7,['ashraf',27],[5.8,7.9],'rumy']

In [2]:
print(nl)

[1, 5, 8.7, ['ashraf', 27], [5.8, 7.9], 'rumy']

In [3]:
empty = []
empty

[]

In [11]:
sl = ['milk','cheese','butter','brokly','cucumber']
p = 'milk' in sl
p

True

In [5]:
sl = ['milk','cheese','butter','brokly','cucumber']
for i in range(len(sl)):
    sl[i] = sl[i] + '+'
    print(sl[i])

milk+
cheese+
butter+
brokly+
cucumber+

In [10]:
empty = []
for i in empty:
    print("I am empty")

In [19]:
sl = ['milk','cheese','butter','brokly','cucumber']
sl[-4] = 'fish'
sl[-5:0:1]
sl[-1:-6:-1]

['cucumber', 'brokly', 'butter', 'fish', 'milk']

In [10]:
nl = [1,5,8.7,['ashraf',27],[5.8,7.9],'rumy']
for i in nl:
    print(i)
    print(type(i))
    if type(i) == list:
        for j in i:
            print(j)

1
<class 'int'>
5
<class 'int'>
8.7
<class 'float'>
['ashraf', 27]
<class 'list'>
ashraf
27
[5.8, 7.9]
<class 'list'>
5.8
7.9
rumy
<class 'str'>

# Update/Insert a list

In [21]:
mylist = [1,2,3,4,5,6,7]
mylist[4] = 14                        # o(1) time complexity and space complexity
mylist[3] = 11
mylist

[1, 2, 3, 11, 14, 6, 7]

In [22]:
list = [5,7,89,3.78,'ashraf','nisan']
print(list)
print(id(list))
list.insert(3,27)                # time consuming operation(o(n) time complexity)
print(list)
print(id(list))

[5, 7, 89, 3.78, 'ashraf', 'nisan']
2842955290944
[5, 7, 89, 27, 3.78, 'ashraf', 'nisan']
2842955290944

In [26]:
list.append('5.6')           # o(1) time and space complexity
list

[5, 7, 89, 27, 3.78, 'ashraf', 'nisan', '5.6"', '5.6"', '5.6']

In [58]:
ml = [27,67,34,23,45,18]
print(id(ml))
nl = ['5.6','5.3','5.8']
ml.extend(nl)                     # o(n) time and space complexity
print(id(ml))
ml

2842955388544
2842955388544

[27, 67, 34, 23, 45, 18, '5.6', '5.3', '5.8']

In [33]:
print(ml)
print(id(ml))
ml[:3] = [12,13]
print(id(ml))
ml

[12, 13, 45, 18, '5.6', '5.3', '5.8']
2842955161600
2842955161600

[12, 13, 18, '5.6', '5.3', '5.8']

# Deletion of a list

In [57]:
list1 = [1,2,3,4,'a','b','c','d','e','f']
print(id(list1))
print(list1.pop(3))            # time complexity is o(n) and space complexity is o(1)
print(list1)
print(list1.pop())             # time complexity and space complexity is o(1)
print(id(list1))
print(list1)

2842955224512
4
[1, 2, 3, 'a', 'b', 'c', 'd', 'e', 'f']
f
2842955224512
[1, 2, 3, 'a', 'b', 'c', 'd', 'e']

In [56]:
list1 = [1,2,3,4,'a','b','c','d','e','f']
print(id(list1))
del list1[5]
print(list1)
del list1[4:6]               # time complexity is o(n) and space complexity is o(1)
print(id(list1))             
print(list1)

2842955346688
[1, 2, 3, 4, 'a', 'c', 'd', 'e', 'f']
2842955346688
[1, 2, 3, 4, 'd', 'e', 'f']

In [55]:
list2 = [1,2,3,2,'a','a','c','d','e','c']
print(id(list2)) 
print(list2.remove('c'))       # time complexity is o(n) and space complexity is o(1)
print(id(list2))     
print(list2)

2842918757056
None
2842918757056
[1, 2, 3, 2, 'a', 'a', 'd', 'e', 'c']

# Seraching element in a list

In [43]:
s = [10,20,30,40,50,60,70,80,90]
i = int(input("Search an int value:"))
if i in s:
    print(s.index(i))
else:
    print("value is not present in list")

value is not present in list

In [44]:
s = [10,20,30,40,50,60,70,80,90]
100 in s

False

In [53]:

s = [10,20,30,40,50,60,70,80,90,100]           
j = int(input("search a int value:"))
def searchinlist(s,v):
    for i in s:                   # time complexity is o(n)
        if i == v:                # time complexity is o(1)
            return s.index(v)     # time complexity is o(1)
    else:
        return "The value doesn't exist in this list"          
a = searchinlist(s,j)
print(a)

8

# List Operations/Function

In [54]:
a = [1,2,3,4]
print(id(a))
b = [5,6,7,8]
a = a + b
print(id(a))
print(a)

2842955952576
2842955811392
[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
a = [1,3,6]
print(id(a))
a = a * 5
print(id(a))
print(a)

2842955808832
2842955680448
[1, 3, 6, 1, 3, 6, 1, 3, 6, 1, 3, 6, 1, 3, 6]

In [67]:
a = [1,3,6]
print(id(a))
print(a * 5)
print(id(a))

2842923321728
[1, 3, 6, 1, 3, 6, 1, 3, 6, 1, 3, 6, 1, 3, 6]
2842923321728

In [63]:
s = [10,20,30,40,50,60,70,80,90,100]
print(len(s))
print(max(s))
print(min(s))
print(sum(s))
print(sum(s[1:4]))
avg = sum(s)/len(s)
avg

10
100
10
550
90

55.0

In [65]:
s = []
while(True):
    i = input("Enter a value:")
    if i == "done":
        avg = sum(s)/len(s)
        print(avg)
        break
    else:
        j = float(i)
        s.append(j)     
print(s)

3.5
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

# Strings and List

In [77]:
e = "spamberry"
a = list(e)
print(a)

TypeError: 'list' object is not callable

In [79]:
f = 'spam-berry-jack'
g = f.split('-')
print(g)
h = list(g)
print(h)

['spam', 'berry', 'jack']

TypeError: 'list' object is not callable

In [80]:
d ='-'
e = d.join(g)
e

'spam-berry-jack'

In [84]:
s = [10,20,30,110,50,60,70,80,90,100]
print(id(s))
orig = s[:]
s.sort()
print(s)
print(id(s))
print(orig)
print(id(orig))

2842957118720
[10, 20, 30, 50, 60, 70, 80, 90, 100, 110]
2842957118720
[10, 20, 30, 110, 50, 60, 70, 80, 90, 100]
2842957017984

In [5]:
thisset = {"apple", "banana", "cherry"}
print(id(thisset))

thisset.add("orange")

print(thisset)
print(id(thisset))

2575383405376
{'cherry', 'orange', 'apple', 'banana'}
2575383405376

In [3]:
l1 =[1,2,3,4,5,6]
a = l1.append(7)
print(a)

None

In [22]:
# confusion
things = [2, 'abc', 'Zebra', '1']
#things.sort()
things.sort(key=str)
print(things)

['1', 2, 'Zebra', 'abc']